---
import Card from "../product/Card.astro";
import DetailDialog from "../product/DetailDialog.astro";

const { id } = Astro.props;
const products = await Astro.glob("../../content/products/*.md");
---

<section id={id}>
  <div class="container">
    <h2 class="title title--center" data-localize="products_title"></h2>
    <p class="desc desc--mg-s text-center" data-localize="products_desc_part1"></p>
    <p class="desc desc--mg-s text-center">
      <span data-localize="products_desc_part2"></span>
      <strong data-localize="products_desc_part3"></strong>
      <span data-localize="products_desc_part4"></span>
    </p>
    <p class="desc text-center">
      <span data-localize="products_desc_part5"></span>
      <strong data-localize="products_desc_part6"></strong>
      <span data-localize="products_desc_part7"></span>
    </p>
    <div class="product-list">
      {
        products
          .sort((a, b) => a.frontmatter.id - b.frontmatter.id)
          .map((product) => {
            const data = product.frontmatter;
            return (
              <div class="product">
                <Card id={data.id} title={data.title} imgLight={data.imgLight} has3D={data.modelHorizontal3d || data.modelVertical3d} />
                <DetailDialog id={data.id} title={data.title} desc={data.description} content={product.compiledContent()} price={data.price} imgDark={data.imgDark} imgFrame={data.imgFrame} imgLight={data.imgLight} modelHorizontal3d={data.modelHorizontal3d} modelVertical3d={data.modelVertical3d} daeFile={data.daeFile} reservation={data.reservation} />
              </div>
            );
          })
      }
    </div>
  </div>
</section>
