---
import Card from "../product/Card.astro";
import DetailDialog from "../product/DetailDialog.astro";
import {
  useTranslations,
  type Lang,
  type TranslationKey,
} from "../../i18n/utils";

interface Props {
  id: string;
  lang?: Lang;
}

const { id, lang = "cs" } = Astro.props;
const t = useTranslations(lang);

const basePath = lang === "cs" ? "" : "/en";
const products = await Astro.glob("../../content/products/*.md");
---

<section id={id}>
  <div class="container">
    <h2 class="title title--center title--white">{t("products.title")}</h2>
    <p class="desc desc--mg-s text-center">
      <strong>{t("products.descPart1")}</strong>
    </p>
    <p class="desc desc--mg-s text-center">
      <span>{t("products.descPart2")}</span>
      <strong>{t("products.descPart3")}</strong>
      <span>{t("products.descPart4")}</span>
    </p>
    <p class="desc text-center">
      <span>{t("products.descPart5")}</span>
      <strong>{t("products.descPart6")}</strong>
      <span>{t("products.descPart7")}</span>
    </p>

    <div class="products-illustration">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 511 511"
        style="enable-background:new 0 0 511 511"
        xml:space="preserve"
        width="512"
        height="512"
        ><path
          style="fill:none;stroke:#808080;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-width:20"
          d="M107.422 300.33V471c0 16.57 13.42 30 30 30h236.16c16.56 0 30-13.43 30-30V40c0-16.57-13.44-30-30-30h-236.16c-16.58 0-30 13.43-30 30v170.67M111.168 416.877h288.666M114.916 71.272h288.667M107.417 255.496h0"
        ></path><path
          style="fill:none;stroke:#a38c52;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-width:20"
          d="M174.353 195.647v89.656l77.645 44.828a5 5 0 0 0 5 0l77.645-44.828v-89.656a5 5 0 0 0-2.5-4.33l-77.645-44.828-77.645 44.828a5 5 0 0 0-2.5 4.33zM254.247 330.126V234.49M254.247 234.49l-78.898-41.21M333.685 193.257l-79.438 41.233"
        ></path><path
          style="fill:none;stroke:#808080;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-width:20"
          d="m107.42 178.79-76.76 69.29c-4.4 3.97-4.4 10.87 0 14.84l76.76 69.29L248.8 459.82a9.99 9.99 0 0 0 13.4 0l141.38-127.61 76.76-69.29c4.4-3.97 4.4-10.87 0-14.84l-76.76-69.29"
        ></path></svg
      >
    </div>

    <div class="product-list">
      {
        products
          .sort((a, b) => a.frontmatter.id - b.frontmatter.id)
          .map((product) => {
            const data = product.frontmatter;
            return (
              <div class="product">
                <Card
                  id={data.id}
                  title={data.title}
                  imgLight={data.imgLight}
                  has3D={data.modelHorizontal3d || data.modelVertical3d}
                  lang={lang}
                />
                <DetailDialog
                  id={data.id}
                  title={data.title}
                  desc={data.description}
                  descEn={data.descriptionEn}
                  tags={data.tags}
                  price={data.price}
                  imgDark={data.imgDark}
                  imgFrame={data.imgFrame}
                  imgLight={data.imgLight}
                  modelHorizontal3d={data.modelHorizontal3d}
                  modelVertical3d={data.modelVertical3d}
                  daeFile={data.daeFile}
                  reservation={data.reservation}
                  lang={lang}
                />
              </div>
            );
          })
      }
    </div>
    <div class="text-center">
      <br />
      <br />
      <p class="desc desc--mg-s">
        {t("products.galleryDesc" as TranslationKey)}
      </p>
      <a href={`${basePath}/gallery`} class="button button--l button--primary">
        {t("products.btnGallery" as TranslationKey)}
      </a>
    </div>
  </div>
</section>
