---
import Icon from "../icons/Icon.astro";
interface Props {
  id: number;
  title?: string;
  desc?: string;
  content?: string;
  img?: string;
  model3d?: string;
}
const { id, title, desc, content, img, model3d } = Astro.props;
---

<dialog id={`myDialog${id}`} class="dialog">
  <button type="button" id="closeBtn" class="dialog__close" aria-label="Zavřít detail produktu" title="Zavřít">
    <Icon name="close" />
  </button>
  <div class="product-detail">
    <strong>{title}</strong>
    <!-- <img src={`./images/products/${img}`} alt={`Kamenná deska ${title}`} width="1024" /> -->
    <div class="product-detail__model">
      <model-viewer src={`./3d/products/${model3d}`} ar ar-modes="webxr scene-viewer quick-look" camera-controls touch-action="pan-y" camera-orbit="0deg 90deg 3m"></model-viewer>
    </div>
    <div class="product-detail__content">
      <p class="desc desc--no-mg">{desc}</p>
      <div class="tags" set:html={content} />
    </div>
  </div>
  <!-- <div class="text-to-center">
        <a class="button button--s" href="mailto:info@anewstyle.cz">
          Mám zájem
          <Icon name="email" />
        </a>
      </div> -->
</dialog>

<script>
  const products = document.querySelectorAll(".product");
  const body = document.querySelector("body");
  products.forEach((product) => {
    const productCard = product.querySelector('div[role="button"]') as HTMLButtonElement;
    const productDetail = product.querySelector("dialog") as HTMLDialogElement;
    const closeBtn = productDetail.querySelector("#closeBtn") as HTMLButtonElement;

    productCard.addEventListener("click", () => {
      productDetail.showModal();
      body?.style.setProperty("overflow", "hidden");
    });

    closeBtn.addEventListener("click", (e) => {
      e.stopPropagation();
      productDetail.close();
      body?.style.setProperty("overflow", "initial");
    });

    const tags = productDetail.querySelector(".tags") as HTMLDivElement;
    const ulElement = tags.querySelector("ul") as HTMLUListElement;
    const liElement = document.createElement("li");
    const showMoreBtn = document.createElement("button");
    showMoreBtn.innerHTML = "Zobrazit více  ▼";
    showMoreBtn.classList.add("button", "button--xs");
    showMoreBtn.setAttribute("type", "button");
    showMoreBtn.setAttribute("aria-label", "Zobrazit více");
    showMoreBtn?.addEventListener("click", () => {
      tags?.classList.toggle("tags--all");
      showMoreBtn.innerText = tags.classList.contains("tags--all") ? "Zobrazit méně  ▲" : "Zobrazit více  ▼";
    });
    liElement.appendChild(showMoreBtn);
    ulElement.appendChild(liElement);
  });
</script>
