---
import Icon from "../icons/Icon.astro";
interface Props {
  id: number;
  title?: string;
  desc?: string;
  descEn?: string;
  imgDark?: string;
  imgFrame?: string;
  imgLight?: string;
  modelHorizontal3d?: string;
  modelVertical3d?: string;
  daeFile?: string;
  price?: number;
  reservation: boolean;
  tags: {
    dimension: string;
    weight: string;
    maxConsumption: string;
    standbyConsumption: string;
    brightness: string;
    backlightTempereture: string;
    powerVoltage: string;
    frameColor: string;
    hangingBrackets: boolean;
    dimmableStoneIllumination: boolean;
    dimmableIllumination: boolean;
    phoneControl: boolean;
    LEDSource: boolean;
    RFIDController: boolean;
    RFRemoteControl: boolean;
    nanoImpregnation: boolean;
    divisibleInto2: boolean;
    divisibleInto3: boolean;
  };
}
const {
  id,
  title,
  desc,
  descEn,
  price,
  imgDark,
  imgFrame,
  imgLight,
  modelHorizontal3d,
  modelVertical3d,
  daeFile,
  reservation,
  tags,
} = Astro.props;
---

<dialog id={`myDialog${id}`} class="dialog">
  <button
    type="button"
    id="closeBtn"
    class="dialog__close"
    aria-label="Close product detail"
    title="Close"
  >
    <Icon name="close" />
  </button>
  <div class="product-detail">
    <strong>{title}</strong>
    <div class="product-detail__img" title="Show in 3D">
      <a
        href={`#horizontal3dModel${id}`}
        aria-label="Kámen jako osvětlení interiéru"
        data-fancybox={`product${id}`}
      >
        <img
          src={`./images/products/${imgLight}`}
          alt={`Kamenná deska ${title}`}
          width="1024"
          id="closeImg"
        />
        {(modelHorizontal3d || modelVertical3d) && <Icon name="ar" />}
      </a>
    </div>
    <div class="product-detail__hidden">
      <a
        href={`#vertical3dModel${id}`}
        aria-label="Kámen jako osvětlení interiéru"
        data-fancybox={`product${id}`}></a>
      <a
        href={`./images/products/${imgDark}`}
        aria-label="Kámen jako osvětlení interiéru"
        data-fancybox={`product${id}`}></a>
      <a
        href={`./images/products/${imgFrame}`}
        aria-label="Kámen jako osvětlení interiéru"
        data-fancybox={`product${id}`}></a>
      <a
        href={`./images/products/${imgLight}`}
        aria-label="Kámen jako osvětlení interiéru"
        data-fancybox={`product${id}`}></a>
      <model-viewer
        id={`horizontal3dModel${id}`}
        src={`./3d/products/${modelHorizontal3d}`}
        ar
        ar-scale="auto"
        ar-modes="webxr scene-viewer quick-look"
        camera-controls
        touch-action="pan-y"
        camera-orbit="0deg 90deg 2.5m"></model-viewer>
      <model-viewer
        id={`vertical3dModel${id}`}
        src={`./3d/products/${modelVertical3d}`}
        ar
        ar-scale="auto"
        ar-modes="webxr scene-viewer quick-look"
        camera-controls
        touch-action="pan-y"
        camera-orbit="0deg 90deg 2.5m"></model-viewer>
    </div>
    <div class="product-detail__content">
      <p class="desc desc--no-mg" data-language="cs">{desc}</p>
      <p class="desc desc--no-mg" data-language="en">{descEn}</p>
      <div class="tags">
        <ul>
          {
            tags.dimension && (
              <li>
                <span data-localize="products_tag_dimension" />
                <b>{tags.dimension}</b>
              </li>
            )
          }
          {
            tags.weight && (
              <li>
                <span data-localize="products_tag_weight" />
                <b>{tags.weight}</b>
              </li>
            )
          }
          {
            tags.maxConsumption && (
              <li>
                <span data-localize="products_tag_max-cons" />
                <b>{tags.maxConsumption}</b>
              </li>
            )
          }
          {
            tags.standbyConsumption && (
              <li>
                <span data-localize="products_tag_standby-cons" />
                <b>{tags.standbyConsumption}</b>
              </li>
            )
          }
          {
            tags.brightness && (
              <li>
                <span data-localize="products_tag_brightness" />
                <b>{tags.brightness}</b>
              </li>
            )
          }
          {
            tags.backlightTempereture && (
              <li>
                <span data-localize="products_tag_backlight-temp" />
                <b>{tags.backlightTempereture}</b>
              </li>
            )
          }
          {
            tags.powerVoltage && (
              <li>
                <span data-localize="products_tag_power-voltage" />
                <b>{tags.powerVoltage}</b>
              </li>
            )
          }
          {
            tags.frameColor && (
              <li>
                <span data-localize="products_tag_frame-color" />
                <b>{tags.frameColor}</b>
              </li>
            )
          }
          {
            tags.hangingBrackets && (
              <li>
                <span data-localize="products_tag_hang" />
              </li>
            )
          }
          {
            tags.dimmableStoneIllumination && (
              <li>
                <b data-localize="products_tag_dimmable-stone-ill" />
              </li>
            )
          }
          {
            tags.dimmableIllumination && (
              <li>
                <b data-localize="products_tag_dimmable-ill" />
              </li>
            )
          }
          {
            tags.phoneControl && (
              <li>
                <b data-localize="products_tag_phone-control" />
              </li>
            )
          }
          {
            tags.LEDSource && (
              <li>
                <b data-localize="products_tag_led" />
              </li>
            )
          }
          {
            tags.RFIDController && (
              <li>
                <b data-localize="products_tag_rfid-controller" />
              </li>
            )
          }
          {
            tags.RFRemoteControl && (
              <li>
                <b data-localize="products_tag_rf-remote" />
              </li>
            )
          }
          {
            tags.nanoImpregnation && (
              <li>
                <b data-localize="products_tag_impregnation" />
              </li>
            )
          }
          {
            tags.divisibleInto2 && (
              <li>
                <b data-localize="products_tag_divisible-2" />
              </li>
            )
          }
          {
            tags.divisibleInto3 && (
              <li>
                <b data-localize="products_tag_divisible-3" />
              </li>
            )
          }
          <li>
            <button id="showMoreTags" type="button" class="button button--xs">
              <span data-localize="products_detail_btn_more"></span>
              <span data-localize="products_detail_btn_less"></span>
            </button>
          </li>
        </ul>
      </div>

      <div class="product-detail__footer">
        {
          daeFile && (
            <a
              href={`./downloads/dae/${daeFile}`}
              target="_blank"
              class="link link--light link--uppercase"
            >
              <Icon name="download" />
              <span data-localize="products_detail_download" />
            </a>
          )
        }
        <a
          class="button button--s"
          href="mailto:info@anewstyle.cz"
          aria-disabled={reservation}
        >
          <span data-localize="products_detail_btn_interested"></span>
          <Icon name="email" />
        </a>
      </div>
    </div>
  </div>

  <script>
    const products = document.querySelectorAll(".product");
    const body = document.querySelector("body");
    products.forEach((product) => {
      const productCard = product.querySelector(
        'div[role="button"]'
      ) as HTMLButtonElement;
      const productDetail = product.querySelector(
        "dialog"
      ) as HTMLDialogElement;
      const closeBtn = productDetail.querySelector(
        "#closeBtn"
      ) as HTMLButtonElement;
      const closeImg = productDetail.querySelector(
        "#closeImg"
      ) as HTMLButtonElement;

      productCard.addEventListener("click", () => {
        productDetail.showModal();
        body?.style.setProperty("overflow", "hidden");

        if (
          !document.querySelector(
            'script[src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"]'
          )
        ) {
          const script = document.createElement("script");
          script.type = "module";
          script.src =
            "https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js";

          document.body.appendChild(script);
        }
      });

      closeBtn.addEventListener("click", (e) => {
        e.stopPropagation();
        productDetail.close();
        body?.style.setProperty("overflow", "initial");
      });

      closeImg.addEventListener("click", () => {
        productDetail.close();
        body?.style.setProperty("overflow", "initial");
      });

      const tagList = productDetail.querySelector(".tags") as HTMLDivElement;
      const showMoreBtn = tagList.querySelector(
        "button#showMoreTags"
      ) as HTMLButtonElement;
      const spanMore = showMoreBtn.querySelector(
        "span:nth-child(1)"
      ) as HTMLSpanElement;
      const spanLess = showMoreBtn.querySelector(
        "span:nth-child(2)"
      ) as HTMLSpanElement;

      spanLess.style.display = "none";

      showMoreBtn?.addEventListener("click", () => {
        tagList?.classList.toggle("tags--all");
        spanMore.style.display = tagList.classList.contains("tags--all")
          ? "none"
          : "inline";
        spanLess.style.display = tagList.classList.contains("tags--all")
          ? "inline"
          : "none";
      });
    });
  </script>
</dialog>
