---
import Footer from "../components/footer/Footer.astro";
import IconSet from "../components/icons/IconSet.astro";
interface Props {
  title: string;
  description: string;
}
const { title } = Astro.props;
const { description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="author" content="Lukáš Chylík" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <meta name="keywords" content={description} />
    <link rel="apple-touch-icon" sizes="180x180" href="./images/favicons/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="./images/favicons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="./images/favicons/favicon-16x16.png" />
    <link rel="mask-icon" href="./images/favicons/safari-pinned-tab.svg" color="#5bbad5" />

    <link rel="alternate" hreflang="en" href="https://anewstyle.cz/?lang=en" />
    <link rel="alternate" hreflang="cs" href="https://anewstyle.cz/?lang=cs" />

    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="theme-color" content="#ffffff" />

    <!-- Schema.org markup for Google -->
    <meta itemprop="name" content={title} />
    <meta itemprop="description" content={description} />
    <meta itemprop="image" content="./images/meta/meta-google.webp" />

    <!-- Open Graph data -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content="https://anewstyle.cz/" />
    <meta property="og:image" content="./images/meta/meta-fb.webp" />

    <!-- Twitter Card data -->
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content="./images/meta/meta-twitter.webp" />

    <link rel="stylesheet" href="./css/style.css" type="text/css" />

    <meta name="generator" content={Astro.generator} />
    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-TB327ZQ");
    </script>
    <!-- End Google Tag Manager -->
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TB327ZQ" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <IconSet />
    <slot />
  </body>
  <Footer />
</html>
